-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: transport_udm
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `administrateur`
--

DROP TABLE IF EXISTS `administrateur`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `administrateur` (
  `administrateur_id` int(11) NOT NULL,
  PRIMARY KEY (`administrateur_id`),
  CONSTRAINT `administrateur_ibfk_1` FOREIGN KEY (`administrateur_id`) REFERENCES `utilisateur` (`utilisateur_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `administrateur`
--

LOCK TABLES `administrateur` WRITE;
/*!40000 ALTER TABLE `administrateur` DISABLE KEYS */;
INSERT INTO `administrateur` VALUES (14),(15),(33);
/*!40000 ALTER TABLE `administrateur` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `affectation`
--

DROP TABLE IF EXISTS `affectation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `affectation` (
  `affectation_id` int(11) NOT NULL AUTO_INCREMENT,
  `type_affectation` enum('EN_SEMAINE','WEEK_END','PERMANENCE','CONGE') NOT NULL,
  `date_debut` date NOT NULL,
  `date_fin` date NOT NULL,
  `chauffeur_id` int(11) NOT NULL,
  `planifie_par` int(11) DEFAULT NULL,
  PRIMARY KEY (`affectation_id`),
  KEY `chauffeur_id` (`chauffeur_id`),
  KEY `planifie_par` (`planifie_par`),
  CONSTRAINT `affectation_ibfk_1` FOREIGN KEY (`chauffeur_id`) REFERENCES `chauffeur` (`chauffeur_id`),
  CONSTRAINT `affectation_ibfk_2` FOREIGN KEY (`planifie_par`) REFERENCES `administrateur` (`administrateur_id`),
  CONSTRAINT `CONSTRAINT_1` CHECK (`date_fin` >= `date_debut`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `affectation`
--

LOCK TABLES `affectation` WRITE;
/*!40000 ALTER TABLE `affectation` DISABLE KEYS */;
/*!40000 ALTER TABLE `affectation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bus_udm`
--

DROP TABLE IF EXISTS `bus_udm`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bus_udm` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `numero` varchar(50) NOT NULL,
  `immatriculation` varchar(20) NOT NULL,
  `etat_vehicule` enum('BON','DEFAILLANT') NOT NULL,
  `nombre_places` int(11) NOT NULL CHECK (`nombre_places` >= 1),
  `derniere_maintenance` date DEFAULT NULL,
  `kilometrage` int(11) DEFAULT NULL COMMENT 'Niveau de kilom├⌐trage actuel en km',
  `type_huile` varchar(50) DEFAULT NULL,
  `km_critique_huile` int(11) DEFAULT NULL COMMENT 'Kilom├⌐trage critique pour l''huile',
  `km_critique_carburant` int(11) DEFAULT NULL COMMENT 'Kilom├⌐trage critique pour le carburant',
  `capacite_plein_carburant` int(11) DEFAULT NULL COMMENT 'Capacit├⌐ du plein de carburant en km',
  `date_derniere_vidange` date DEFAULT NULL COMMENT 'Date de la derni├¿re vidange',
  `capacite_reservoir_litres` double DEFAULT NULL,
  `niveau_carburant_litres` double DEFAULT NULL,
  `consommation_km_par_litre` float DEFAULT NULL,
  `numero_chassis` varchar(100) NOT NULL,
  `modele` varchar(100) DEFAULT NULL,
  `type_vehicule` enum('TOURISME','COASTER','MINIBUS','AUTOCAR','AUTRE') DEFAULT NULL,
  `marque` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `numero` (`numero`),
  UNIQUE KEY `unique_immatriculation` (`immatriculation`),
  UNIQUE KEY `numero_chassis` (`numero_chassis`)
) ENGINE=InnoDB AUTO_INCREMENT=29 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bus_udm`
--

LOCK TABLES `bus_udm` WRITE;
/*!40000 ALTER TABLE `bus_udm` DISABLE KEYS */;
/*!40000 ALTER TABLE `bus_udm` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `carburation`
--

DROP TABLE IF EXISTS `carburation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `carburation` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `aed_id` int(11) NOT NULL,
  `date_carburation` date NOT NULL,
  `kilometrage` int(11) NOT NULL,
  `quantite_litres` decimal(10,2) NOT NULL CHECK (`quantite_litres` >= 0),
  `prix_unitaire` decimal(10,2) NOT NULL CHECK (`prix_unitaire` >= 0),
  `cout_total` decimal(10,2) NOT NULL CHECK (`cout_total` >= 0),
  `remarque` varchar(256) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `aed_id` (`aed_id`),
  KEY `idx_carburation_aed_id` (`aed_id`),
  CONSTRAINT `carburation_ibfk_1` FOREIGN KEY (`aed_id`) REFERENCES `bus_udm` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_carburation_aed_id` FOREIGN KEY (`aed_id`) REFERENCES `bus_udm` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `carburation`
--

LOCK TABLES `carburation` WRITE;
/*!40000 ALTER TABLE `carburation` DISABLE KEYS */;
/*!40000 ALTER TABLE `carburation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chargetransport`
--

DROP TABLE IF EXISTS `chargetransport`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `chargetransport` (
  `chargetransport_id` int(11) NOT NULL,
  PRIMARY KEY (`chargetransport_id`),
  CONSTRAINT `chargetransport_ibfk_1` FOREIGN KEY (`chargetransport_id`) REFERENCES `utilisateur` (`utilisateur_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chargetransport`
--

LOCK TABLES `chargetransport` WRITE;
/*!40000 ALTER TABLE `chargetransport` DISABLE KEYS */;
INSERT INTO `chargetransport` VALUES (2),(10),(35),(37);
/*!40000 ALTER TABLE `chargetransport` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chauffeur`
--

DROP TABLE IF EXISTS `chauffeur`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `chauffeur` (
  `chauffeur_id` int(11) NOT NULL AUTO_INCREMENT,
  `nom` varchar(100) NOT NULL,
  `prenom` varchar(100) NOT NULL,
  `numero_permis` varchar(50) NOT NULL,
  `telephone` varchar(20) NOT NULL,
  `date_delivrance_permis` date NOT NULL,
  `date_expiration_permis` date NOT NULL,
  PRIMARY KEY (`chauffeur_id`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chauffeur`
--

LOCK TABLES `chauffeur` WRITE;
/*!40000 ALTER TABLE `chauffeur` DISABLE KEYS */;
INSERT INTO `chauffeur` VALUES (1,'sam','jupo','2345sdf23','1234567','2025-08-19','2026-08-19'),(2,'qwer','gfdf','123456','12345678','2025-08-19','2026-08-19'),(17,'mep','nop','66767M44','12345676','2024-01-10','2026-07-08'),(18,'teur','conduc','BTD574EFF','877998872','2025-08-01','2025-08-27');
/*!40000 ALTER TABLE `chauffeur` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chauffeur_statut`
--

DROP TABLE IF EXISTS `chauffeur_statut`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `chauffeur_statut` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `chauffeur_id` int(11) NOT NULL,
  `statut` enum('CONGE','PERMANENCE','SERVICE_WEEKEND','SERVICE_SEMAINE') NOT NULL,
  `date_debut` datetime NOT NULL,
  `date_fin` datetime NOT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_chauffeur_period` (`chauffeur_id`,`date_debut`,`date_fin`),
  CONSTRAINT `fk_chauffeur_statut_chauffeur` FOREIGN KEY (`chauffeur_id`) REFERENCES `chauffeur` (`chauffeur_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `CONSTRAINT_1` CHECK (`date_fin` > `date_debut`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chauffeur_statut`
--

LOCK TABLES `chauffeur_statut` WRITE;
/*!40000 ALTER TABLE `chauffeur_statut` DISABLE KEYS */;
/*!40000 ALTER TABLE `chauffeur_statut` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER bi_chauffeur_statut_rule

BEFORE INSERT ON chauffeur_statut

FOR EACH ROW

BEGIN

  IF NEW.statut = 'CONGE' THEN

    IF EXISTS (

      SELECT 1 FROM chauffeur_statut s

      WHERE s.chauffeur_id = NEW.chauffeur_id

        AND NOT (NEW.date_fin <= s.date_debut OR NEW.date_debut >= s.date_fin)

    ) THEN

      SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'Chevauchement interdit: CONGE doit ├¬tre exclusif';

    END IF;

  ELSE

    IF EXISTS (

      SELECT 1 FROM chauffeur_statut s

      WHERE s.chauffeur_id = NEW.chauffeur_id

        AND s.statut = 'CONGE'

        AND NOT (NEW.date_fin <= s.date_debut OR NEW.date_debut >= s.date_fin)

    ) THEN

      SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'Chevauchement interdit avec une p├⌐riode de CONGE';

    END IF;

  END IF;

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER bu_chauffeur_statut_rule

BEFORE UPDATE ON chauffeur_statut

FOR EACH ROW

BEGIN

  IF NEW.statut = 'CONGE' THEN

    IF EXISTS (

      SELECT 1 FROM chauffeur_statut s

      WHERE s.chauffeur_id = NEW.chauffeur_id

        AND s.id <> OLD.id

        AND NOT (NEW.date_fin <= s.date_debut OR NEW.date_debut >= s.date_fin)

    ) THEN

      SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'Chevauchement interdit: CONGE doit ├¬tre exclusif';

    END IF;

  ELSE

    IF EXISTS (

      SELECT 1 FROM chauffeur_statut s

      WHERE s.chauffeur_id = NEW.chauffeur_id

        AND s.id <> OLD.id

        AND s.statut = 'CONGE'

        AND NOT (NEW.date_fin <= s.date_debut OR NEW.date_debut >= s.date_fin)

    ) THEN

      SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'Chevauchement interdit avec une p├⌐riode de CONGE';

    END IF;

  END IF;

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `connexion_historique`
--

DROP TABLE IF EXISTS `connexion_historique`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `connexion_historique` (
  `log_id` int(11) NOT NULL AUTO_INCREMENT,
  `utilisateur_id` int(11) NOT NULL,
  `date_connexion` datetime NOT NULL,
  `ip_adresse` varchar(45) NOT NULL,
  PRIMARY KEY (`log_id`),
  KEY `utilisateur_id` (`utilisateur_id`),
  CONSTRAINT `connexion_historique_ibfk_1` FOREIGN KEY (`utilisateur_id`) REFERENCES `utilisateur` (`utilisateur_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `connexion_historique`
--

LOCK TABLES `connexion_historique` WRITE;
/*!40000 ALTER TABLE `connexion_historique` DISABLE KEYS */;
/*!40000 ALTER TABLE `connexion_historique` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `demandehuile`
--

DROP TABLE IF EXISTS `demandehuile`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `demandehuile` (
  `demande_huile_id` int(11) NOT NULL AUTO_INCREMENT,
  `date_demande` date NOT NULL,
  `statut_demande` enum('EN_ATTENTE','APPROUVEE') NOT NULL,
  `numero_aed` varchar(50) NOT NULL,
  `mecanicien_id` int(11) NOT NULL,
  PRIMARY KEY (`demande_huile_id`),
  KEY `numero_aed` (`numero_aed`),
  KEY `mecanicien_id` (`mecanicien_id`),
  CONSTRAINT `demandehuile_ibfk_1` FOREIGN KEY (`numero_aed`) REFERENCES `bus_udm` (`numero`),
  CONSTRAINT `demandehuile_ibfk_2` FOREIGN KEY (`mecanicien_id`) REFERENCES `mecanicien` (`mecanicien_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `demandehuile`
--

LOCK TABLES `demandehuile` WRITE;
/*!40000 ALTER TABLE `demandehuile` DISABLE KEYS */;
/*!40000 ALTER TABLE `demandehuile` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `document_aed`
--

DROP TABLE IF EXISTS `document_aed`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `document_aed` (
  `document_id` int(11) NOT NULL AUTO_INCREMENT,
  `numero_aed` varchar(50) NOT NULL,
  `type_document` enum('ASSURANCE','VISITE_TECHNIQUE','VIGNETTE','FICHE_TECHNIQUE','CARTE_GRISE') NOT NULL,
  `date_debut` date NOT NULL,
  `date_expiration` date DEFAULT NULL,
  PRIMARY KEY (`document_id`),
  KEY `fk_document_aed` (`numero_aed`),
  CONSTRAINT `fk_document_aed` FOREIGN KEY (`numero_aed`) REFERENCES `bus_udm` (`numero`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `document_aed`
--

LOCK TABLES `document_aed` WRITE;
/*!40000 ALTER TABLE `document_aed` DISABLE KEYS */;
/*!40000 ALTER TABLE `document_aed` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fuel_alert_state`
--

DROP TABLE IF EXISTS `fuel_alert_state`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `fuel_alert_state` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `aed_id` int(11) NOT NULL,
  `last_threshold` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `aed_id` (`aed_id`),
  UNIQUE KEY `uq_fuel_alert_state_aed` (`aed_id`),
  CONSTRAINT `fk_fuel_alert_aed` FOREIGN KEY (`aed_id`) REFERENCES `bus_udm` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_fuel_alert_state_aed` FOREIGN KEY (`aed_id`) REFERENCES `bus_udm` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fuel_alert_state`
--

LOCK TABLES `fuel_alert_state` WRITE;
/*!40000 ALTER TABLE `fuel_alert_state` DISABLE KEYS */;
/*!40000 ALTER TABLE `fuel_alert_state` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mecanicien`
--

DROP TABLE IF EXISTS `mecanicien`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `mecanicien` (
  `mecanicien_id` int(11) NOT NULL,
  `numero_permis` varchar(50) NOT NULL,
  `date_delivrance_permis` date NOT NULL,
  `date_expiration_permis` date NOT NULL,
  PRIMARY KEY (`mecanicien_id`),
  CONSTRAINT `mecanicien_ibfk_1` FOREIGN KEY (`mecanicien_id`) REFERENCES `utilisateur` (`utilisateur_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mecanicien`
--

LOCK TABLES `mecanicien` WRITE;
/*!40000 ALTER TABLE `mecanicien` DISABLE KEYS */;
INSERT INTO `mecanicien` VALUES (32,'TD574EFF','2025-08-01','2025-08-27');
/*!40000 ALTER TABLE `mecanicien` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notification`
--

DROP TABLE IF EXISTS `notification`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notification` (
  `notification_id` int(11) NOT NULL AUTO_INCREMENT,
  `utilisateur_id` int(11) NOT NULL,
  `message` varchar(255) NOT NULL,
  `date_notification` datetime NOT NULL DEFAULT current_timestamp(),
  `lue` tinyint(1) NOT NULL DEFAULT 0,
  PRIMARY KEY (`notification_id`),
  KEY `utilisateur_id` (`utilisateur_id`),
  CONSTRAINT `notification_ibfk_1` FOREIGN KEY (`utilisateur_id`) REFERENCES `utilisateur` (`utilisateur_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notification`
--

LOCK TABLES `notification` WRITE;
/*!40000 ALTER TABLE `notification` DISABLE KEYS */;
/*!40000 ALTER TABLE `notification` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `panne_aed`
--

DROP TABLE IF EXISTS `panne_aed`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `panne_aed` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `aed_id` int(11) NOT NULL,
  `numero_aed` varchar(50) NOT NULL,
  `immatriculation` varchar(50) DEFAULT NULL,
  `kilometrage` double DEFAULT NULL,
  `date_heure` datetime NOT NULL DEFAULT current_timestamp(),
  `description` text NOT NULL,
  `criticite` enum('FAIBLE','MOYENNE','HAUTE') NOT NULL,
  `immobilisation` tinyint(1) NOT NULL DEFAULT 0,
  `enregistre_par` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_panne_aed_aed_id` (`aed_id`),
  KEY `idx_panne_aed_numero` (`numero_aed`),
  KEY `idx_panne_aed_date` (`date_heure`),
  CONSTRAINT `fk_panne_aed_aed_id` FOREIGN KEY (`aed_id`) REFERENCES `bus_udm` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_panne_aed_numero` FOREIGN KEY (`numero_aed`) REFERENCES `bus_udm` (`numero`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `panne_aed`
--

LOCK TABLES `panne_aed` WRITE;
/*!40000 ALTER TABLE `panne_aed` DISABLE KEYS */;
INSERT INTO `panne_aed` VALUES (1,21,'AED-09','LT 1032 BT',96000,'2025-08-19 10:21:38','jbgyvcr','MOYENNE',1,'sam'),(2,19,'AED-05','LT-003',100700,'2025-08-19 10:56:02','juuyijo','HAUTE',1,'sam'),(3,19,'AED-05','LT-003',100700,'2025-08-19 10:56:02','juuyijo','HAUTE',1,'sam'),(4,19,'AED-05','LT-003',100700,'2025-08-19 10:56:02','juuyijo','HAUTE',1,'sam');
/*!40000 ALTER TABLE `panne_aed` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `presencecampus`
--

DROP TABLE IF EXISTS `presencecampus`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `presencecampus` (
  `date_presence` date NOT NULL,
  `nombre_arrives` int(11) NOT NULL DEFAULT 0 CHECK (`nombre_arrives` >= 0),
  `nombre_partis` int(11) NOT NULL DEFAULT 0 CHECK (`nombre_partis` >= 0),
  `mise_a_jour_par` int(11) DEFAULT NULL,
  `nombre_presents` int(11) GENERATED ALWAYS AS (`nombre_arrives` - `nombre_partis`) STORED,
  PRIMARY KEY (`date_presence`),
  KEY `mise_a_jour_par` (`mise_a_jour_par`),
  CONSTRAINT `presencecampus_ibfk_1` FOREIGN KEY (`mise_a_jour_par`) REFERENCES `chargetransport` (`chargetransport_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `presencecampus`
--

LOCK TABLES `presencecampus` WRITE;
/*!40000 ALTER TABLE `presencecampus` DISABLE KEYS */;
/*!40000 ALTER TABLE `presencecampus` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `prestataire`
--

DROP TABLE IF EXISTS `prestataire`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `prestataire` (
  `immatriculation` varchar(20) NOT NULL,
  `nom_prestataire` varchar(100) NOT NULL COMMENT 'Nom du prestataire',
  `nombre_places` int(11) NOT NULL CHECK (`nombre_places` between 1 and 70),
  `nom_chauffeur` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`immatriculation`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `prestataire`
--

LOCK TABLES `prestataire` WRITE;
/*!40000 ALTER TABLE `prestataire` DISABLE KEYS */;
INSERT INTO `prestataire` VALUES ('46578','Noblesse',50,'dsfhg'),('4ff66gg7','Noblesse',50,'paul'),('BP123LT','Noblesse',50,'jean'),('CE567BTP','Charter',10,'Alex'),('LT 234 BT','Charter',50,'paul'),('LT2324BVN','Noblesse',50,'Simon'),('lt454jk','Noblesse',70,'paul');
/*!40000 ALTER TABLE `prestataire` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rapport_journalier`
--

DROP TABLE IF EXISTS `rapport_journalier`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rapport_journalier` (
  `rapport_id` int(11) NOT NULL AUTO_INCREMENT,
  `date_rapport` date NOT NULL,
  `createur_id` int(11) NOT NULL,
  `contenu` text NOT NULL,
  `date_creation` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`rapport_id`),
  KEY `createur_id` (`createur_id`),
  CONSTRAINT `rapport_journalier_ibfk_1` FOREIGN KEY (`createur_id`) REFERENCES `administrateur` (`administrateur_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rapport_journalier`
--

LOCK TABLES `rapport_journalier` WRITE;
/*!40000 ALTER TABLE `rapport_journalier` DISABLE KEYS */;
/*!40000 ALTER TABLE `rapport_journalier` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trajet`
--

DROP TABLE IF EXISTS `trajet`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `trajet` (
  `trajet_id` int(11) NOT NULL AUTO_INCREMENT,
  `date_heure_depart` datetime NOT NULL,
  `point_depart` varchar(100) NOT NULL,
  `type_passagers` enum('ETUDIANT','PERSONNEL','MALADE') DEFAULT NULL,
  `nombre_places_occupees` int(11) DEFAULT NULL,
  `chauffeur_id` int(11) DEFAULT NULL,
  `numero_aed` varchar(50) DEFAULT NULL,
  `immat_bus` varchar(20) DEFAULT NULL,
  `enregistre_par` int(11) DEFAULT NULL,
  `destination` varchar(100) DEFAULT NULL,
  `motif` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`trajet_id`),
  KEY `chauffeur_id` (`chauffeur_id`),
  KEY `numero_aed` (`numero_aed`),
  KEY `enregistre_par` (`enregistre_par`),
  KEY `idx_depart_type` (`point_depart`,`type_passagers`),
  KEY `fk_trajet_prestataire` (`immat_bus`),
  CONSTRAINT `fk_trajet_prestataire` FOREIGN KEY (`immat_bus`) REFERENCES `prestataire` (`immatriculation`),
  CONSTRAINT `trajet_ibfk_1` FOREIGN KEY (`chauffeur_id`) REFERENCES `chauffeur` (`chauffeur_id`),
  CONSTRAINT `trajet_ibfk_2` FOREIGN KEY (`numero_aed`) REFERENCES `bus_udm` (`numero`),
  CONSTRAINT `trajet_ibfk_4` FOREIGN KEY (`enregistre_par`) REFERENCES `chargetransport` (`chargetransport_id`),
  CONSTRAINT `CONSTRAINT_1` CHECK (`numero_aed` is not null and `immat_bus` is null or `numero_aed` is null and `immat_bus` is not null)
) ENGINE=InnoDB AUTO_INCREMENT=80 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trajet`
--

LOCK TABLES `trajet` WRITE;
/*!40000 ALTER TABLE `trajet` DISABLE KEYS */;
/*!40000 ALTER TABLE `trajet` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `utilisateur`
--

DROP TABLE IF EXISTS `utilisateur`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `utilisateur` (
  `utilisateur_id` int(11) NOT NULL AUTO_INCREMENT,
  `nom` varchar(100) NOT NULL,
  `prenom` varchar(100) NOT NULL,
  `login` varchar(50) NOT NULL,
  `email` varchar(255) NOT NULL,
  `telephone` varchar(50) NOT NULL,
  `mot_de_passe` varchar(255) NOT NULL,
  `reset_token` varchar(100) DEFAULT NULL,
  `reset_expires` datetime DEFAULT NULL,
  `role` enum('ADMIN','CHAUFFEUR','MECANICIEN','CHARGE') DEFAULT NULL,
  PRIMARY KEY (`utilisateur_id`),
  UNIQUE KEY `login` (`login`),
  UNIQUE KEY `unique_email` (`email`),
  CONSTRAINT `chk_email_format` CHECK (`email` is null or `email` like '%_@_%')
) ENGINE=InnoDB AUTO_INCREMENT=39 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `utilisateur`
--

LOCK TABLES `utilisateur` WRITE;
/*!40000 ALTER TABLE `utilisateur` DISABLE KEYS */;
/*!40000 ALTER TABLE `utilisateur` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER before_delete_utilisateur_admin

BEFORE DELETE ON utilisateur

FOR EACH ROW

BEGIN

  IF OLD.role = 'ADMIN' THEN

    DELETE FROM administrateur WHERE administrateur_id = OLD.utilisateur_id;

  END IF;

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER before_delete_utilisateur_mecanicien

BEFORE DELETE ON utilisateur

FOR EACH ROW

BEGIN

  IF OLD.role = 'MECANICIEN' THEN

    DELETE FROM mecanicien WHERE mecanicien_id = OLD.utilisateur_id;

  END IF;

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER before_delete_utilisateur_charge

BEFORE DELETE ON utilisateur

FOR EACH ROW

BEGIN

  IF OLD.role = 'CHARGE' THEN

    DELETE FROM chargetransport WHERE chargetransport_id = OLD.utilisateur_id;

  END IF;

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER before_delete_utilisateur_chauffeur

BEFORE DELETE ON utilisateur

FOR EACH ROW

BEGIN

  IF OLD.role = 'CHAUFFEUR' THEN

    DELETE FROM chauffeur WHERE chauffeur_id = OLD.utilisateur_id;

  END IF;

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `vidange`
--

DROP TABLE IF EXISTS `vidange`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `vidange` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `aed_id` int(11) NOT NULL,
  `date_vidange` date NOT NULL,
  `kilometrage` int(11) NOT NULL,
  `type_huile` enum('QUARTZ','RUBIA') NOT NULL,
  `remarque` varchar(256) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_vidange_aed_id` (`aed_id`),
  CONSTRAINT `fk_vidange_aed` FOREIGN KEY (`aed_id`) REFERENCES `bus_udm` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_vidange_aed_id` FOREIGN KEY (`aed_id`) REFERENCES `bus_udm` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vidange`
--

LOCK TABLES `vidange` WRITE;
/*!40000 ALTER TABLE `vidange` DISABLE KEYS */;
INSERT INTO `vidange` VALUES (2,19,'2025-08-01',123456,'QUARTZ','Premi├¿re vidange'),(3,17,'2025-08-14',12345,'QUARTZ',''),(4,17,'2025-08-14',12500,'QUARTZ',''),(6,17,'2025-08-14',20000,'QUARTZ',''),(7,20,'2025-08-14',41000,'QUARTZ',''),(8,20,'2025-08-14',42000,'QUARTZ','par le mecanicien'),(9,17,'2025-08-18',980071,'QUARTZ','ras'),(10,21,'2025-08-18',95200,'QUARTZ',''),(11,20,'2025-08-18',95900,'QUARTZ',''),(12,21,'2025-08-18',95900,'','');
/*!40000 ALTER TABLE `vidange` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-09-03  2:00:52
