{% extends 'layout.html' %}
{% block content %}
<div class="container mt-4">
    <h2>Enregistrer un départ AED</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.date_heure_depart.label }}
            {{ form.date_heure_depart(class_='form-control') }}
        </div>
        <div class="form-group">
            {{ form.point_depart.label }}
            {{ form.point_depart(class_='form-control') }}
        </div>
        <div class="form-group">
            {{ form.type_passagers.label }}
            {{ form.type_passagers(class_='form-control') }}
        </div>
        <div class="form-group">
            {{ form.nombre_places_occupees.label }}
            {{ form.nombre_places_occupees(class_='form-control') }}
        </div>
        <div class="form-group">
            {{ form.chauffeur_id.label }}
            {{ form.chauffeur_id(class_='form-control') }}
        </div>
        <div class="form-group">
            {{ form.numero_aed.label }}
            {{ form.numero_aed(class_='form-control') }}
        </div>
        <button type="submit" class="btn btn-primary mt-3">{{ form.submit.label }}</button>
    </form>
</div>
{% endblock %}
