{% extends "_base_admin.html" %}

{% block title %}Dépannage{% endblock %}

{% set active_page = 'bus' %}
{% set page_title = 'Gestion des Dépannages' %}

{% block dashboard_content %}
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Page de Dépannage</h5>
            <p class="card-text">
                Cette section est en cours de développement. Elle permettra de gérer les pannes et les interventions sur les véhicules.
            </p>
        </div>
    </div>
</div>
{% endblock %}
