{% extends "layout.html" %}
{% block title %}Profil Chauffeur{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard_chauffeur.css') }}">
{% endblock %}
{% block content %}
<div class="main-content">
    <h1>Profil du Chauffeur</h1>
    <div class="profil-section">
        <div class="profil-item">
            <strong>Nom&nbsp;:</strong> {{ current_user.nom_utilisateur }}
        </div>
        <div class="profil-item">
            <strong>Login&nbsp;:</strong> {{ current_user.login }}
        </div>
        <div class="profil-item">
            <strong>Numéro de permis&nbsp;:</strong> {{ current_user.permis or 'Non renseigné' }}
        </div>
        <div class="profil-item">
            <strong>Téléphone&nbsp;:</strong> {{ current_user.phone or 'Non renseigné' }}
        </div>
        <div class="profil-item">
            <strong>Affectation&nbsp;:</strong> {{ current_user.affectation or 'Non renseigné' }}
        </div>
    </div>
</div>
{% endblock %}
